# Working with numbers
Python is also a powerful calculator and you can manipulate or test numbers in a variety of ways.

Type in 1+1 and run itâ€¦

In [2]:
1+1

2

### Task1: Explain what happens below?

The operator is addition so the program knows that it will have to add the following inputs together.

### Task 2: Complete the table
Using the code cell below investigate the following and fill in the rest of the table:<p>

|Equation|Answer|What does it do?|
|:---|:---|:---|
|2+5   | 7  | The + command is addition  |
|67/34   | 1.9705882352941178  |  The / command is a division |
|30*4   |  120 | The * command is multiplication  |
|3==6   | false  | Because == is a comparison|
|3!=5   | True  |The != command means not equal to and in this case 3 isn't equal to 5 |
|39==39   | True  | Because == is a comparison and 39 is the same as 39   |
|list(range(100))   |0-99   | Lists all the numbers from 0 to 99  |
|list(range(46,100))   | 46-99  | Lists all the numbers from 46-99   |
|list(range(0,30,5))   | 0,5,10,15,20,25  |Lists all the numbers from 0 to 30 that are multiples of 5   |

In [11]:
list(range(0,30,5))

[0, 5, 10, 15, 20, 25]

### Task 3: Number list program
Can you create a program that lists all the numbers starting from 100 to 10000, going up in intervals of 9?

In [13]:
list(range(100,1000,9))

[100,
 109,
 118,
 127,
 136,
 145,
 154,
 163,
 172,
 181,
 190,
 199,
 208,
 217,
 226,
 235,
 244,
 253,
 262,
 271,
 280,
 289,
 298,
 307,
 316,
 325,
 334,
 343,
 352,
 361,
 370,
 379,
 388,
 397,
 406,
 415,
 424,
 433,
 442,
 451,
 460,
 469,
 478,
 487,
 496,
 505,
 514,
 523,
 532,
 541,
 550,
 559,
 568,
 577,
 586,
 595,
 604,
 613,
 622,
 631,
 640,
 649,
 658,
 667,
 676,
 685,
 694,
 703,
 712,
 721,
 730,
 739,
 748,
 757,
 766,
 775,
 784,
 793,
 802,
 811,
 820,
 829,
 838,
 847,
 856,
 865,
 874,
 883,
 892,
 901,
 910,
 919,
 928,
 937,
 946,
 955,
 964,
 973,
 982,
 991]

### Task 4: Floats
You can also float numbers as in create a decimal. Return to the text editor window. <p>

Type and run the following:
```python
x = 3 
print(x) 
y = float(x) 
print(y)
```

In [14]:
x = 3 
print(x) 
y = float(x) 
print(y)

3
3.0

Explain what the code above does - ***Line by line*** <p>

3 is inside the variable X.
The variable X is printed.
The variable Y has float 3 inside it. 
The variable Y is printed.

Type and run the following:
```python
y = float(3) 
print(y)
```

In [15]:
y = float(3) 
print(y)

3.0

Explain what the code above does - ***Line by line*** <p>

The varible Y contain float 3.
In this line, the variable Y is printed.

*A SIMPLE PROGRAM TO WORK OUT HOW MANY CALORIES YOU CAN EAT IN A DAY*

```python
print ("Welcome") 
c=input("How many calories have you eaten today?") 
s=2000-c 
print ("You can still eat", s, "calories today")
```
Now see if you can complete these: 

### Task 5 Plenary 
Jennifer wants to carpet her new room with pink carpet. Create a program that will work out the area of any sized room, (l x w):

In [20]:
print("Welcome")
l=int(input("How long is your room?"))
w=int (input("How wide is your room?"))
a=l* w
print("The area of your room is", a)

Welcome
How long is your room?5
How wide is your room?4
The area of your room is 20

### Extension 1
Create a program that will work out the area of any triangle, (h x w x 0.5):

In [22]:
print("Welcome")
h=int(input("What is the height of the triangle"))
w= int(input("What is the width of the triangle"))
a= h * w * 0.5
print("The area of the triangle is", a)

Welcome
What is the height of the triangle5
What is the width of the triangle6
The area of the triangle is 15.0

### Extension 2
Write a program to work out how many days you have been alive for? <p>(It will not be exact and only work to the number of years that you have been alive)

In [23]:
print("Welcome my son")
a= int(input("How old are you?"))
d= a*365
print("You have been alive for", d, "days")

Welcome my son
How old are you?56
You have been alive for 20440 days